.App {
  text-align: center;
}

body {
  background-color: #201c1c !important;
  color: white !important;
}

a {
  color: white !important;
}

.app-container {
  background-color: #201c1c !important;
  color: white !important;
}

.app-container a {
  color: white !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #201c1c !important; /* Make it consistent with the body */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white !important; /* Ensure text inside this header is white */
}

.App-link {
  color: white !important; /* Force links inside App-link to be white */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
