.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Forcing fill for SVG and color for standard text */
.rd3t-label__title {
  fill: white !important;  /* For SVG elements */
  color: white !important; /* For non-SVG elements */
}

/* Target all text nodes explicitly */
.rd3t-label__title text {
  fill: white !important;  /* Force white fill for SVG text */
}

/* Ensuring links inside nodes are white */
.rd3t-label__title a {
  color: white !important; /* Forcing white for links */
  text-decoration: underline !important;
}

.rd3t-node {
  stroke: none; /* Remove the stroke if necessary */
}

a {
  color: white !important; /* Ensure all links are white */
  text-decoration: underline !important; /* Keep underline if necessary */
}

.rd3t-node a {
  color: white !important; /* Specifically target links inside the nodes */
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
